.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #seriesSelect {
    margin-bottom: 20px;
  }
  
  #videoPlayer {
    margin-bottom: 40px;
  }